// MENU SVG ICON
svg(width='49' height='13' viewbox='0 0 49 13' fill='none' xmlns='http://www.w3.org/2000/svg')
  g#menu
    g#dot-particle3(style="--order: 2")
      circle#dot(cx='42.5' cy='6.5' r='6.5' fill='white')
    g#dot-particle2(style="--order: 1")
      circle#dot_2(cx='24.5' cy='6.5' r='6.5' fill='white')
    g#dot-particle1(style="--order: 0")
      circle#dot_3(cx='6.5' cy='6.5' r='6.5' fill='white')
