// HEADER
header.header#header

  // NAV CONTAINER
  nav.nav.container
    a.nav__logo(href="#home")
      +logo

    // NAV MENU
    .nav__menu#nav-menu
      ul.nav__list
        each link in navLinks
          li.nav__item
            a(href=`${link.ref}`)= link.label

      button.button.button_sm.nav__button(type='button') Заказать

    .nav__toggle#nav-toggle
      include partials/menu-svg
