//- Project

- const projectName = "Developers"

//- Company

- const companyName = "Developers"

//- Path

- const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

- const navLinks = [{ label: "Услуги", ref: "#services" }, { label: "Этапы", ref: "#steps" }, { label: "Портфолио", ref: "#portfolio" }, { label: "Дизайнеры", ref: "#designers" }]

//- Data

//- Cards

//- Items

//- Sections
