//- Project

- const projectName = "Developers"

//- Company

- const companyName = "Developers"

//- Path

- const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

- const navLinks = []

//- Data

//- Cards

//- Items

//- Sections
