// Modules

@use '../../base/media-lib'

/* SECTION

.section
  padding-top: calc(var(--header-height) + 1.5rem)
  padding-bottom: 6.5rem

.section__title
  margin-bottom: 1.25rem
  font-size: var(--h2-font-size)

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    margin-bottom: 1.6rem
