// Modules

// plugins
@use '../../plugins/plugins-dir' as plugins

// media-lib
@use '../../base/media-lib'

/* SHAPES

.shape
  border-radius: 50%

.shape_big
  +plugins.size(450px, 280px)
  background-color: var(--container-color)

  // medium devices
  +media-lib.breakpoint($br: media-lib.$md)
    +plugins.size(650px, 380px)

.shape_small
  +plugins.size(85px, 65px)
  background-color: var(--body-color)
  border: 2px solid var(--second-color)
