// Modules

// plugins
@use '../../plugins/plugins-dir' as plugins

// media-lib
@use '../../base/media-lib'

/* SHAPES

.shape
  border-radius: 50%

.shape_big
  +plugins.size(450px, 280px)
  background-color: var(--container-color)

  // small devices
  +media-lib.breakpoint($br: media-lib.$xs, $media-feature: 'max-width')
    +plugins.size(380px, 220px)

  // small devices
  +media-lib.breakpoint($br: media-lib.$sm)
    +plugins.size(580px, 310px)

  // medium devices
  +media-lib.breakpoint($br: media-lib.$md)
    +plugins.size(650px, 380px)

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    +plugins.size(780px, 440px)

  // large devices
  +media-lib.breakpoint($br: media-lib.$xl)
    +plugins.size(860px, 480px)

.shape_small
  +plugins.size(85px, 65px)
  background-color: var(--body-color)
  border: 2px solid var(--second-color)

  // medium devices
  +media-lib.breakpoint($br: media-lib.$md)
    +plugins.size(130px, 80px)

  // large devices
  +media-lib.breakpoint($br: media-lib.$xl)
    +plugins.size(200px, 120px)
