// Modules

@use '../base/media-lib'

/* MICRO CLASSES

// Handle menu styles

.show-menu
  min-height: 280px
  height: 50vh

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    min-height: initial
    height: initial

.show-menu .nav__menu
  height: 100%

.nav__toggle.play #menu [id^="dot-particle"]
  transform-origin: center
  animation: menuEffect 1s ease forwards
  animation-delay: calc(var(--order) * 100ms)

// Handle illustrations animation

.home__ill.play #cart [id^="cart-particle"]
  transform-origin: center
  animation: popUp 3s ease forwards
  animation-delay: calc(var(--order) * 75ms)

.services__img.play
  transform-origin: center
  animation: popUp 3s ease forwards

// Handle active accordion item styles

.accordion-open 
  padding-bottom: 2.5rem

  .services__accordion-indicator
    background-color: var(--first-color)

  .services__accordion-title
    font:
      size: var(--h3-font-size)
      weight: 700

  .services__accordion-arrow
    transform: rotate(-90deg)

  .services__accordion-content
    margin-top: 1.25rem 
