// Modules

// plugins
@use '../plugins/plugins-dir' as plugins

// media-lib
@use '../base/media-lib'

/* SERVICES

.services
  background-color: var(--container-color)

.services__container
  position: relative

.services__title
  text-align: center

.services__accordion
  display: flex
  flex-direction: column
  row-gap: .625rem

.services__accordion-item
  padding: 1.5rem
  background-color: var(--body-color)
  border-radius: .625rem
  transition: all .4s ease

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    padding: 1.25rem 2.75rem

.services__accordion-header
  display: flex
  align-items: center
  cursor: pointer

.services__accordion-indicator
  display: inline-flex
  +plugins.size(1rem)
  margin-right: 1.1rem
  background-color: var(--second-color)
  border-radius: 50%
  transition: all .4s ease

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    +plugins.size(1.5rem)
    margin-right: 1.75rem

.services__accordion-title
  font:
    size: var(--normal-font-size)
    weight: 400 
  max-width: 75%
  transition: all .4s ease

.services__accordion-arrow
  display: inline-flex
  margin-left: auto
  transform: rotate(90deg)
  transition: all .4s ease

.services__accordion-content
  height: 0px
  margin-left: .375rem
  border-left: 1px solid var(--text-color-lighter)
  transition: all .4s ease
  overflow: hidden

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    margin-left: .625rem

.services__accordion-descr
  display: flex
  flex-direction: column
  row-gap: 2rem
  padding: 1rem 3rem 1rem 1.75rem

  // large devices
  +media-lib.breakpoint($br: media-lib.$lg)
    padding-left: 2.25rem

.services__img
  display: none

  // large devices
  +media-lib.breakpoint($br: media-lib.$xl)
    display: block
    +plugins.position(absolute, null -20% -40px null)
